/*
  * Title:
    * Layout
  * Description:
    * The styling of all containers elements used to build page layout
  * Sections:
    * $. Main container
*/


/* $. Main container
\*----------------------------------------------------------------*/

.container{
  max-width: 1170px;
  margin: 0 auto;
  border: 1px solid red;
}




// body{
//   padding-top: 769px;
// }

// section{
//   border: 1px solid red;
//   height: 563px;

//   padding: 5.2em 0;
//   padding-left: 374px;
//   text-align: center;
// }