/*
  * Title:
    * Abstracts
  * Description:
    * Handles functions, mixins, placeholders and utility classes
  * Sections:
    * $. Mixins
    * $. Placeholders
    * $. Utility classes
*/





/* $. Mixins
\*----------------------------------------------------------------*/

/*
 * @param  $bgColor   Colour of the background
 * @param  $color     Colour of the text
 */

@mixin sectionColors($bgColor, $color) {
  background-color: $bgColor;
  color: $color;
}





/* $. Placeholders
\*----------------------------------------------------------------*/

%section{
  color: $color-brown;

  font-family: $Raleway;
  text-align: center;

  padding: 84px 10px;
}

%section__text{
  font-size: 1.125em;
  font-weight: $regular;
  letter-spacing: 1px;
  line-height: 1.7;
  word-spacing: -2px;

  margin-top: 40px;
}

%form__visuals{
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: 1px;
  outline: none;

  padding: 15px 0 15px 16px;
}





/* $. Utility classes
\*----------------------------------------------------------------*/

.sr-only {
  border: 0; 
  clip: rect(0 0 0 0); 
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px; 
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}