/*
  * Title:
    * Abstracts
  * Description:
    * Handles functions, mixins, and placeholders
  * Sections:
    * $. Mixins
    * $. Placeholders
*/

/* $. Mixins
\*----------------------------------------------------------------*/

@mixin sectionColors($bgColor, $color) {
  background-color: $bgColor;
  color: $color;
}


/* $. Placeholders
\*----------------------------------------------------------------*/

%section{
  color: $color-brown;

  font-family: $Raleway;
  text-align: center;

  padding: 84px 0;
}
