/*
  * Title:
    * About
  * Description:
    * The styling of the about section
  * Sections:
    * $. About
*/

/* $. About
\*----------------------------------------------------------------*/

.about{
  @extend %section;
}

.about__text{
  font-size: 1.125em;
  font-weight: $regular;
  letter-spacing: 1px;
  line-height: 1.7;
  word-spacing: -2px;

  margin-top: 40px;
}