/*
  * Title:
    * Blog
  * Description:
    * The styling of the blog section
  * Sections:
    * $. Intro
    * $. Articles
    * $. Footer
*/

/* $. Intro
\*----------------------------------------------------------------*/

.blog__inner{
  @extend %section;
  padding: 84px 0 74px 0;
}

.blog__text{
  @extend %section__text;
}





/* $. Articles
\*----------------------------------------------------------------*/

.articles{
  padding-bottom: 50px;
}

.article{
  background-image: url('../img/divider.png');
  background-repeat: no-repeat;
  background-position: top center;

  display: flex;
  padding-bottom: 52px;

  font-family: $Raleway;
}

.article__thumbnail{
  width: 50%;
  border: 1px solid red;
}

.article__layout{
  border: 1px solid yellow;
  height: 274px;
  width: 476px;
  background-image: url('../img/article.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.article__content{
  width: 50%;
}

.article__content-odd .article__layout-content{
  margin-left: 48px;
}

.article__content-even .article__layout-content{
  margin-right: 30px;
  text-align: right;
}

.article__thumbnail-odd .article__layout{
  margin-right: 30px;
  margin-left: auto;
}

.article__thumbnail-even .article__layout{
  margin-left: 45px;
  margin-right: auto;
}

.article__date{
  color: $color-brown;

  font-size: 0.95em;
  font-weight: $medium;
  letter-spacing: 1px;

  display: block;
  margin-bottom: 15px;
}

.article__link{
  color: currentColor;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.article__excerpt{
  margin-top: 22px;

  font-size: 0.999em;
  line-height: 1.8;
  word-spacing: 5px;

  color: $color-grey-medium;
}




/* $. Footer
\*----------------------------------------------------------------*/

.blog__footer{
  text-align: center;

  background-image: url('../img/divider-line-only.png');
  background-repeat: no-repeat;
  background-position: center;  

  padding-top: 54px;
  border: 1px solid;
}

.blog__call-to-action-button{
  background-color: $color-brown;
  border: 8px solid #ebebeb;
  border-radius: 50%;
  color: $color-white;

  display: inline-block;
  padding: 20px;

  font-weight: $medium;
  text-decoration: none;

  &:hover{
    border-color: transparent;
  }
}