/*
  * Title:
    * Blog
  * Description:
    * The styling of the blog section
  * Sections:
    * $. Intro
    * $. Articles
*/

/* $. Intro
\*----------------------------------------------------------------*/

// .blog{
//   padding-bottom: 90px;

//   background-color: $color-grey-light;
// }

.blog__inner{
  @extend %section;
  padding: 84px 0 74px 0;
}

.blog__text{
  @extend %section__text;
}





/* $. Intro
\*----------------------------------------------------------------*/

.articles{
  padding-bottom: 50px;
}

.article{
  height: 330px;
  background-image: url('../img/divider.png');
  background-repeat: no-repeat;
  background-position: top center;
}

.blog__footer{
  text-align: center;
  background-image: url('../img/divider-line-only.png');
  background-repeat: no-repeat;
  background-position: center;  
  padding-top: 54px;
  border: 1px solid;
}