/*
  * Title:
    * Contact
  * Description:
    * The styling of the contact section
  * Sections:
    * $. Title
    * $. Form
*/





/* $. Title
\*----------------------------------------------------------------*/

.contact{
  @include sectionColors($color-grey-light, $color-brown);
}




/* $. Form
\*----------------------------------------------------------------*/

.contact__wrapper{
  @extend %section;
}

.contact__form-wrapper{
  margin: 82px auto 0;
  width: 770px;

  font-family: $OpenSans;
  font-size: 0.999em;
}

.contact__form-top{
  display: flex;
  justify-content: space-between;
}

.contact__form-input{
  border: none;
  border-top: 4px solid $color-black-dark;

  @extend %form__visuals;
  width: 352px;
}

.contact__form-bottom{
  margin-top: 28px;
  margin-bottom: 29px;
}

.contact__form-textarea{
  border-top: 4px solid $color-black-dark;;
  border-bottom: 1px solid $color-black-dark;;

  resize: none;
  height: 150px;
  width: 100%;

  @extend %form__visuals;
}

.contact__form-button{
  background: transparent;
  border: 2px solid $color-black-dark;

  font-family: $Raleway;
  font-size: 1.124em;
  font-weight: $semi-bold;
  letter-spacing: 1px;
  
  padding: 0.55em 2.8em;
  
  &:hover{
    background-color: $color-grey-medium;
    transition: background-color .8s ease;
  }
}