/*
  * Title:
    * Copyright
  * Description:
    * The styling of the copyright section
  * Sections:
    * $. Copyright
*/





/* $. Copyright
\*----------------------------------------------------------------*/

.copyright{
  background-color: lighten($color-black, 10.98);
  color: $color-grey-dark;

  font-family: $Raleway;
  font-size: 1em;
  font-weight: $light;
  text-align: center;

  padding: 32px 0 21px 0;
}