/*
  * Title:
    * Footer
  * Description:
    * The styling of the footer section
  * Sections:
    * $. Common styles
    * $. Recent Posts
    * $. Twitter Feeds
    * $. Address

*/





/* $. Common styles
\*----------------------------------------------------------------*/

.footer{
  background-color: #222222;
  font-family: $Raleway;
}

.footer__content{
  padding: 60px 0 50px 0;

  display: flex;

  section{
    width: 25%;
  }
}

.footer__info{
  color: $color-brown;
}

.footer__posts{
  padding-left: 7px;
}

.footer__posts-wrapper{
  border-bottom: 1px solid;
  border-bottom-color: rgba(95, 95, 95, .4);

  margin-right: 20px;
  padding: 28px 0 20px 4px;
}

.footer__text{
  font-size: 0.874em;
  font-weight: 500;
  letter-spacing: .50px;
  line-height: 23.98px;
  word-spacing: 1px;

  margin-top: 18px;
  padding-right: 18px;

  color: #929292;
  opacity: .8;
}

.footer__text--margin{
  margin-top: 0;
}


.footer__posts-date{
  color: $color-grey-dark;

  font-size: 0.624em;
  text-transform: uppercase;

  display: inline-block;
  margin-bottom: 6px;
}

.footer__posts-date--lowercase{
  text-transform: lowercase;
}

.footer__link{
  color: currentColor;

  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}




/* $. Twitter Feeds
\*----------------------------------------------------------------*/

.footer__feeds{
  padding-left: 17px;
}

.footer__feed-author{
  color: $color-brown;

  margin-left: 10px;
  
  font-weight: $semi-bold;
  font-size: .9em;
  letter-spacing: 1px;
  text-decoration: none;
}

