/*
  * Title:
    * Footer
  * Description:
    * The styling of the footer section
  * Sections:
    * $. Footer

*/





/* $. Footer
\*----------------------------------------------------------------*/

.footer{
  background-color: #222222;
  font-family: $Raleway;
}

.footer__content{
  padding-top: 60px;

  display: flex;

  section{
    width: 25%;
  }
}

.footer__info{
  color: $color-brown;
}

.footer__info-text{
  font-size: 0.874em;
  font-weight: 500;
  letter-spacing: .50px;
  line-height: 23.98px;
  word-spacing: 1px;

  margin-top: 18px;
  padding-right: 18px;

  color: #929292;
  opacity: .8;
}