/*
  * Title:
    * Header
  * Description:
    * The styling of the header (which includes the logo and main navigation)
  * Sections:
    * $. Background Colors 
    * $. Layout
    * $. Main navigation
*/





/* $. Background Colors
\*----------------------------------------------------------------*/

.header{
  @include sectionColors($color-black-medium, $color-white);
}





/* $. Layout
\*----------------------------------------------------------------*/

.site__header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 23px 0;
}





/* $. Main navigation
\*----------------------------------------------------------------*/

.menu{
  display: flex;
}

.menu__item{
  margin-left: 41.5px;
}

.menu__link{
  text-transform: uppercase;
  text-decoration: none;

  font-family: $Raleway;
  font-size: 0.752em;
  font-weight: $regular;
  letter-spacing: 1px;

  position: relative;

  color: currentColor;

  &:after{
    content:'';
    display: block;
    margin-top: 7px;
    height: 5px;
  
    background-color: $color-brown;
    opacity: 0;
  }

  &:hover:after{
    opacity: 1;
  }

  &.active:after{
    opacity: 1;
  }
}

@media screen and (max-width: 736px){

  .site__header{
    flex-direction: column;
  }

  .menu{
    column-count: 2;
    display: block;
    margin-top: 40px;
  }

  .menu__item{
    padding-top: 20px;
  }

}