/*
  * Title:
    * Header
  * Description:
    * The styling of the header (which includes the logo and main navigation)
  * Sections:
    * $. Background Colors 
    * $. Layout
    * $. Main navigation
*/

/* $. Background Colors
\*----------------------------------------------------------------*/

.header{
  @include sectionColors($color-black-light, $color-white);
}


/* $. Layout
\*----------------------------------------------------------------*/

.site__header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 0px;
}


/* $. Main navigation
\*----------------------------------------------------------------*/


.menu{
  display: flex;
}

.menu__item{
  margin-left: 41.5px;
}

.menu__link{
  text-transform: uppercase;
  text-decoration: none;

  font-family: $Raleway;
  font-size: 0.752em;
  font-weight: $regular;
  letter-spacing: 1px;

  position: relative;

  color: currentColor;
}

.menu__link.active:after{
  content:'';
  display: block;
  margin-top: 7px;
  height: 5px;
  
  background-color: $color-brown;
}