/*
  * Title:
    * Hero
  * Description:
    * The styling of the hero section
  * Sections:
    * $. Title
    * $. Call To Action Button
*/

/* $. Title
\*----------------------------------------------------------------*/

.hero{
  color: $color-black-light;

  font-family: $Raleway;
  font-weight: $medium;
  text-transform: uppercase;

  padding: 11.5em 0;
}

.hero__text{
  padding-left: 7px;
  padding-bottom: 56px;

  letter-spacing: 2px;
}

.hero__text-top{
  font-size: 1.500em;
}

.hero__text-bottom{
  font-size: 4.125em;
  font-weight: $semi-bold;
  line-height: 1.14;

  display: block;
  padding-top: 11px;
}

.hero__text-important{
  color: $color-brown;
}

/* $. Call To Action Button
\*----------------------------------------------------------------*/

.hero__button{
  color: inherit;
  background-color: $color-brown;
  border-radius: 5px;

  letter-spacing: 2px;
  text-decoration: none;

  display: inline-block;
  padding: 1.3em 3.75em;
  margin-left: 9px;
}

.hero__icon{
  margin-left: 10px;
}