/*
  * Title:
    * Hero
  * Description:
    * The styling of the hero section
  * Sections:
    * $. Title
*/

/* $. Title
\*----------------------------------------------------------------*/

.hero{
  color: $color-black-light;

  font-family: $Raleway;
  font-weight: $medium;
  text-transform: uppercase;

  padding-top: 11.5em;
}

.hero__text{
  padding-left: 7px;

  letter-spacing: 2px;
}

.hero__text-top{
  font-size: 1.500em;
}

.hero__text-bottom{
  font-size: 4.125em;
  font-weight: $semi-bold;
  line-height: 1.14;

  display: block;
  padding-top: 11px;
}

.hero__text-important{
  color: $color-brown;
}