/*
  * Title:
    * Services
  * Description:
    * The styling of the Services section
  * Sections:
    * $. Services
*/

/* $. Services
\*----------------------------------------------------------------*/

.services{
  color: $color-brown;

  font-family: $Raleway;
  text-align: center
}

.services__inner{
  padding-top: 86px;
  padding-bottom: 55px;
}

.services__text{
  color: $color-black;

  font-size: 1em;
  line-height: 30px;
}

.services__text--baseline{
  padding: 26px 100px 0 100px;
}

.services-details{
  display: flex;
  margin-top: 85px;
}

.services__text--details{
  padding: 16px 15px 0px 15px;
}

.services-details__icon{
  font-size: 1.6em;

  margin-bottom: 33px;
}