/*
  * Title:
    * Services
  * Description:
    * The styling of the Services section
  * Sections:
    * $. Services
*/





/* $. Services
\*----------------------------------------------------------------*/

.services__inner{
  @extend %section;
  padding: 84px 0 54px 0;
}

.services__text{
  color: $color-black;

  font-size: 1em;
  line-height: 30px;
}

.services__text--baseline{
  padding: 26px 100px 0 100px;
}

.services-details{
  display: flex;
  margin-top: 85px;
}

.services__text--details{
  padding: 16px 15px 0px 15px;
  opacity: .5;
}

.services-details__icon{
  font-size: 1.6em;

  margin-bottom: 33px;
}

@media screen and (max-width: 990px){

  .services__text--baseline{
    padding: 26px 0 0 0;
  }

  .services-details{
    flex-direction: column;
  }

  .services-details__item{
    margin: 10px 0;
  }


}