/*
  * Title:
    * Skills
  * Description:
    * The styling of the Skills section
  * Sections:
    * $. Skills
*/

/* $. Skills
\*----------------------------------------------------------------*/

.skills{
  color: $color-black;

  font-family: $Raleway;
  text-align: center;

  padding-top: 104px;
}