/*
  * Title:
    * Skills
  * Description:
    * The styling of the Skills section
  * Sections:
    * $. Skills
*/





/* $. Skills
\*----------------------------------------------------------------*/

.skills{
  background-image: url('../img/skills.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: $color-white;
  
  font-family: $Raleway;
  text-align: center;

  padding-top: 104px;
}

.skills__chart{
  display: flex;
  justify-content: space-between;

  padding-top: 28px;
  padding-bottom: 86px;
}

.chart{
  position: relative;

  display: inherit;
  flex-direction: column-reverse;
}

.skills__chart-percentage{
  position: absolute;
  top: 40%;
  left: 50%;

  transform: translate(-40%, -50%);
}

.skills__chart__label{
  margin-top: 26px;
}

@media screen and (max-width: 1168px){

  .skills{
    background-color: $color-black-dark;
    background-image: none;
  }

  .skills__chart{
    flex-wrap: wrap;
    justify-content: center;
  }

  .chart{
    margin: 15px;
  }

}