/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  * Title:
    * Layout
  * Description:
    * The styling of all containers elements used to build page layout
  * Sections:
    * $. Main container
*/
/* $. Main container
\*----------------------------------------------------------------*/
.container {
  max-width: 1170px;
  margin: 0 auto; }

body {
  padding-top: 769px; }

section {
  border: 1px solid red;
  height: 563px;
  padding: 5.2em 0;
  padding-left: 374px; }

/*
  * Title:
    * Headings
  * Description:
    * The styling of all headings (H1, H2, H3...H6)
  * Sections:
    * $. H2
*/
/* $. H2
\*----------------------------------------------------------------*/
.heading-second {
  color: currentColor;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase; }

.heading-second-big-font {
  font-size: 2.500em;
  font-weight: 600;
  word-spacing: 2px; }

.heading-second-small-font {
  font-size: 1.500em;
  font-weight: 500;
  word-spacing: 4px; }

.heading-border-bottom:after {
  content: "";
  display: block;
  height: 6px;
  width: 76px;
  margin: 46px auto auto auto;
  background-color: currentColor; }

/*
  * Title:
    * Buttons
  * Description:
    * The styling of all call to action buttons
  * Sections:
    * $. Navigations buttons
*/
/* $. Internal navigations buttons
\*----------------------------------------------------------------*/
.button {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-decoration: none;
  word-spacing: 4px;
  color: #000000;
  border: 2px solid currentColor;
  border-radius: 3px;
  margin-top: 130px; }

.button-arrow {
  font-size: 1em;
  text-transform: uppercase;
  padding: 0.9em 1.4em; }
  .button-arrow:after {
    content: "\f30b";
    display: inline-block;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    margin-left: 7px; }

/*# sourceMappingURL=main.css.map */
