/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "Orator";
  src: url("../fonts/orator10.ttf");
  font-weight: normal;
  font-style: normal; }
/*
  * Title:
    * Layout
  * Description:
    * The styling of all containers elements used to build page layout
  * Sections:
    * $. Main container
*/
/* $. Main container
\*----------------------------------------------------------------*/
.container {
  max-width: 1170px;
  margin: 0 auto;
  border: 1px solid red; }

/*
  * Title:
    * Headings
  * Description:
    * The styling of all headings (H1, H2, H3...H6)
  * Sections:
    * $. H1
    * $. H2
    * $. H3
*/
/* $. H1
\*----------------------------------------------------------------*/
.site__logo {
  font-family: "Oleo Script", cursive;
  font-size: 2.978em;
  font-weight: 400; }

.site__logo-link {
  text-decoration: none;
  color: currentColor; }

/* $. H2
\*----------------------------------------------------------------*/
.heading-second {
  color: currentColor;
  font-family: inherit;
  text-transform: uppercase; }

.heading-second-big-font {
  font-size: 2.500em;
  font-weight: 600;
  word-spacing: 2px; }

.heading-second-small-font {
  font-size: 1.500em;
  font-weight: 600;
  word-spacing: 4px; }

.heading-border-bottom:after {
  content: "";
  display: block;
  height: 6px;
  width: 76px;
  margin: 46px auto auto auto;
  background-color: currentColor; }

/* $. H3
\*----------------------------------------------------------------*/
.heading-three {
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 1px; }

.heading-three--small {
  font-size: 1.125em; }

.heading-three--large {
  font-size: 1.500em; }

.heading-three--uppercase {
  text-transform: uppercase; }

/*
  * Title:
    * Buttons
  * Description:
    * The styling of all call to action buttons
  * Sections:
    * $. Navigations buttons
*/
/* $. Internal navigations buttons
\*----------------------------------------------------------------*/
.button {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-decoration: none;
  word-spacing: 4px;
  color: #000000;
  border: 2px solid currentColor;
  border-radius: 3px;
  margin-top: 10px; }
  .button:hover {
    background-color: #929292;
    transition: background-color .8s ease; }

.button-arrow {
  text-transform: uppercase;
  padding: 0.9em 1.4em; }
  .button-arrow:after {
    content: "\f30b";
    display: inline-block;
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    margin-left: 7px; }

/*
  * Title:
    * Abstracts
  * Description:
    * Handles functions, mixins, and placeholders
  * Sections:
    * $. Mixins
    * $. Placeholders
*/
/* $. Mixins
\*----------------------------------------------------------------*/
/* $. Placeholders
\*----------------------------------------------------------------*/
.about, .services__inner, .projects__inner, .section__intro, .team__inner, .blog__inner {
  color: #7b6c63;
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 84px 0; }

.about__text, .projects__text, .team__text, .blog__text {
  font-size: 1.125em;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.7;
  word-spacing: -2px;
  margin-top: 40px; }

/*
  * Title:
    * Header
  * Description:
    * The styling of the header (which includes the logo and main navigation)
  * Sections:
    * $. Background Colors 
    * $. Layout
    * $. Main navigation
*/
/* $. Background Colors
\*----------------------------------------------------------------*/
.header {
  background-color: #303030;
  color: #ffffff; }

/* $. Layout
\*----------------------------------------------------------------*/
.site__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0; }

/* $. Main navigation
\*----------------------------------------------------------------*/
.menu {
  display: flex; }

.menu__item {
  margin-left: 41.5px; }

.menu__link {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 0.752em;
  font-weight: 400;
  letter-spacing: 1px;
  position: relative;
  color: currentColor; }

.menu__link.active:after {
  content: '';
  display: block;
  margin-top: 7px;
  height: 5px;
  background-color: #7b6c63; }

/*
  * Title:
    * Hero
  * Description:
    * The styling of the hero section
  * Sections:
    * $. Title
    * $. Call To Action Button
*/
/* $. Title
\*----------------------------------------------------------------*/
.hero {
  background-image: url("../../Mairala/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  padding: 11.7em 0; }

.hero__text {
  padding-left: 7px;
  padding-bottom: 56px;
  letter-spacing: 2px; }

.hero__text-top {
  font-size: 1.500em; }

.hero__text-bottom {
  font-size: 4.125em;
  font-weight: 600;
  line-height: 1.14;
  display: block;
  padding-top: 11px; }

.hero__text-important {
  color: #7b6c63; }

/* $. Call To Action Button
\*----------------------------------------------------------------*/
.hero__button {
  color: inherit;
  background-color: #272520;
  border-radius: 5px;
  letter-spacing: 2px;
  text-decoration: none;
  display: inline-block;
  padding: 1.3em 3.75em;
  margin-left: 9px; }

.hero__icon {
  margin-left: 10px; }

/*
  * Title:
    * About
  * Description:
    * The styling of the about section
  * Sections:
    * $. About
*/
/* $. About
\*----------------------------------------------------------------*/
/*
  * Title:
    * Intro
  * Description:
    * The styling of the intro section
  * Sections:
    * $. Intro
*/
/* $. Intro
\*----------------------------------------------------------------*/
.intro {
  background-color: #F5F5F5;
  color: #7b6c63;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  overflow: hidden; }

.intro__outer::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  background-image: url("../../Mairala/img/team.jpg");
  background-repeat: no-repeat;
  background-size: 100%; }

.intro__outer {
  position: relative;
  max-width: 1920px;
  margin: 0 auto; }

.intro__inner {
  padding: 88px 0 88px 8px;
  max-width: 560px;
  position: relative;
  z-index: 1; }

.intro__inner::after {
  content: '';
  display: block;
  width: 236px;
  position: absolute;
  top: 0;
  bottom: -66px;
  right: -157px;
  z-index: -1;
  background-color: #F5F5F5;
  transform: rotate(-21deg); }

.intro__text {
  color: #000000;
  line-height: 30px; }

.intro__text-top {
  margin: 27px 0 30px 0; }

.intro__text-bottom {
  margin-bottom: 20px; }

/*
  * Title:
    * Services
  * Description:
    * The styling of the Services section
  * Sections:
    * $. Services
*/
/* $. Services
\*----------------------------------------------------------------*/
.services__inner {
  padding: 84px 0 54px 0; }

.services__text {
  color: #000000;
  font-size: 1em;
  line-height: 30px; }

.services__text--baseline {
  padding: 26px 100px 0 100px; }

.services-details {
  display: flex;
  margin-top: 85px; }

.services__text--details {
  padding: 16px 15px 0px 15px;
  opacity: .5; }

.services-details__icon {
  font-size: 1.6em;
  margin-bottom: 33px; }

/*
  * Title:
    * Skills
  * Description:
    * The styling of the Skills section
  * Sections:
    * $. Skills
*/
/* $. Skills
\*----------------------------------------------------------------*/
.skills {
  background-image: url("../img/skills.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding-top: 104px; }

.skills__chart {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 86px; }

.chart {
  position: relative;
  display: inherit;
  flex-direction: column-reverse; }

.skills__chart-percentage {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%); }

.skills__chart__label {
  margin-top: 26px; }

/*
  * Title:
    * Projects
  * Description:
    * The styling of the Projects section
  * Sections:
    * $. Projects
*/
/* $. Projects
\*----------------------------------------------------------------*/
.projects__thumbnails {
  border: 1px solid blue;
  color: #ffffff;
  display: flex;
  justify-content: center; }

.projects__thumbnails-item {
  height: 350px;
  width: 482px;
  overflow: hidden;
  position: relative; }

.item1 {
  background-image: url("../img/project-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.item2 {
  background-image: url("../img/project-2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.item3 {
  background-image: url("../img/project-3.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.item4 {
  background-image: url("../img/project-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.projects__thumbnails-details {
  position: absolute;
  top: 500%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top .9s ease;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Raleway", sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 7.5em 9em; }

.projects__thumbnails-item:hover .projects__thumbnails-details,
.projects__thumbnails-item:focus .projects__thumbnails-details {
  top: 50%;
  transition: top .3s ease; }

.projects__name {
  font-size: 1.125em;
  font-weight: 600;
  letter-spacing: 4px; }
  .projects__name:after {
    content: "";
    display: block;
    width: 40px;
    height: 5px;
    background-color: currentColor;
    margin: 20px auto; }

.projects__tag {
  font-size: 0.875em;
  font-weight: 300;
  letter-spacing: 2px; }

.projects__more {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  text-align: center;
  padding: 78px 0 90px 0;
  border: 1px solid red; }

/*
  * Title:
    * Common section
  * Description:
    * The styling of the common section used twice on the page
  * Sections:
    * $. Section
*/
/* $. Section
\*----------------------------------------------------------------*/
.section {
  background-color: #303030;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 134px 0; }

.section__text {
  padding: 34px 0;
  font-size: 1.125em; }

.section__link {
  color: #89c4f4;
  font-size: 1.125em;
  text-decoration: none; }
  .section__link:hover {
    text-decoration: underline; }

/*
  * Title:
    * Team
  * Description:
    * The styling of the Team section
  * Sections:
    * $. Intro
    * $. Members
*/
/* $. Intro
\*----------------------------------------------------------------*/
.team {
  padding-bottom: 90px;
  background-color: #F5F5F5; }

.team__inner {
  padding: 84px 0 74px 0; }

/* $. Members
\*----------------------------------------------------------------*/
.team__members {
  display: flex;
  justify-content: space-between; }

.team__member:hover .team__member-details {
  border-color: #000000; }
.team__member:hover .team__member-social {
  transform: translateX(0);
  transition: transform .9s ease; }

.team__member-pic {
  width: 369px;
  position: relative;
  overflow: hidden; }

.team__member-img {
  width: 100%;
  height: auto; }

.team__member-details {
  border: 3px solid #929292;
  margin-top: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase; }

.team__member-name {
  font-family: "Raleway", sans-serif;
  font-size: 1.499em;
  letter-spacing: 1.6px;
  padding-top: .85em; }

.team__member-job {
  font-family: "Orator", sans-serif;
  font-size: 0.75em;
  letter-spacing: 3px;
  padding-top: 1.45em;
  padding-bottom: 1.9em; }

.team__member-social {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 3px;
  transform: translateX(400px);
  transition: transform .9s ease;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 80px; }

.team__member-social-link {
  border: 3px solid white;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  font-size: 1.4em;
  line-height: 50px;
  height: 50px;
  width: 50px; }
  .team__member-social-link:hover {
    border-color: transparent; }

/*
  * Title:
    * Testimonials
  * Description:
    * The styling of the testimonials section
  * Sections:
    * $. Slider
*/
/* $. Slider
\*----------------------------------------------------------------*/
.testimonials {
  background-color: #1A1A1A;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 86px 0; }

.testimonials__wrapper {
  font-size: 1.20em;
  line-height: 1.8;
  word-spacing: 2px;
  overflow: hidden; }

.testimonials__content {
  display: flex;
  transition: all .9s ease; }

.testimonials__inner {
  color: #929292;
  margin-top: 36px;
  transform: translateX(0); }

.testimonials__author {
  margin-top: 38px;
  color: #7b6c63; }

.testimonials__link {
  color: #89c4f4;
  font-size: .9em;
  text-decoration: none; }
  .testimonials__link:hover {
    text-decoration: underline; }

.testimonials__controls {
  margin-top: 30px; }

.testimonials__button {
  width: 15px;
  height: 15px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  display: inline-block; }
  .testimonials__button:hover {
    cursor: pointer; }

.testimonials__button.active {
  background-color: #ffffff; }

/*
  * Title:
    * Blog
  * Description:
    * The styling of the blog section
  * Sections:
    * $. Intro
    * $. Articles
*/
/* $. Intro
\*----------------------------------------------------------------*/
.blog__inner {
  padding: 84px 0 74px 0; }

/* $. Intro
\*----------------------------------------------------------------*/
.article {
  height: 330px;
  background-image: url("../img/divider.png");
  background-repeat: no-repeat;
  background-position: top center; }

/*# sourceMappingURL=main.css.map */
