// FONTS


// Font families
$Raleway: 'Raleway', sans-serif;
$Josephin: 'Josefin Sans', sans-serif;


// Font weights
$thin: 100;
$light: 300;
$regular: 400;

p{
  font-family: $Raleway;
}