/*
  * Title:
    * Fonts
  * Description:
    * The styling definitions of everything related to fonts
  * Sections:
    * $. Font Families
    * $. Font Weights
    * $. Font-Face 

*/




/* $. Font Families
\*----------------------------------------------------------------*/

$Josephin:  'Josefin Sans', sans-serif;
$Oleo:      'Oleo Script', cursive;
$Orator:    'Orator', sans-serif;
$Raleway:   'Raleway', sans-serif;
$OpenSans:  'Open Sans', sans-serif;




/* $. Font Weights
\*----------------------------------------------------------------*/
$thin:      100;
$light:     300;
$regular:   400;
$medium:    500;
$semi-bold: 600;
$bold:      900;




/* $. Face Face
\*----------------------------------------------------------------*/

@font-face {
  font-family: "Orator";
  src: url('../fonts/orator10.ttf');
  font-weight: normal;
  font-style: normal;
}

/*
  Améliorations
  - couleurs qui n'ont pas de variables;
  - mixins pour les font sizes
  - la width de 25% des sections
  - créer une variable $base pour les paddings et margins
  - utiliser les fonctions lighten/darken pour certaines couleurs
  - vérifier les espaces pour les commentaires
*/