// FONTS


// Font families
$Josephin:  'Josefin Sans', sans-serif;
$Oleo:      'Oleo Script', cursive;
$Orator:    'Orator', sans-serif;
$Raleway:   'Raleway', sans-serif;
$OpenSans:  'Open Sans', sans-serif;


// Font weights
$thin:      100;
$light:     300;
$regular:   400;
$medium:    500;
$semi-bold: 600;
$bold:      900;

@font-face {
  font-family: "Orator";
  src: url('../fonts/orator10.ttf');
  font-weight: normal;
  font-style: normal;
}
